.main-container{
  padding-top:10px;
}

.form-group{
  display: flex;

}
.form-control{
  width: 200px;
  margin-top: 5px;
}

#search-btn{

  margin-top: 5px;
}
#book-btn{
  margin-top: 5px;
  /*
  border-radius: 10px;
  */
}

