<div id="loginDiv" class="col-md-6 offset-md-3">
  <h1>Dentist login</h1>
  <form class="login-form" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <h3>Username </h3>
      <input type="text" class="login" id="login" name="username" [(ngModel)] = login.username>
      <!-- <input type="text" class="login" id="login" name="login" [(ngModel)] = login.dentistId> -->
    </div>


    <div class="form-group">
      <h3>Password </h3>
      <input type="text" class="login" id="login" name="password" [(ngModel)] = login.password>
    </div>

    <div class="form-group">
      <button id="loginBtn" type="submit" class="btn btn-success">Login</button>

    </div>


  </form>
</div>


